/* fonts */

:root {
    --color-primary : #fff;
    --main-font : "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
    background-image: url('../img/wallpday1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.container {    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: test 1s;

    
}
#date {
    color: var(--color-primary);
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 300;
    margin: 20px;
    padding-left: 15px;
    animation: 1s  translate_date;
    border-left: rgb(255, 255, 255) 4px solid;
}

@media screen and (max-width: 800px){
    #date {
        text-align: center;
        border: none;
    }
}
#weather-icon {
    animation: floten ease-in-out infinite 2s;
}


#weather-descrip{
    color: var(--color-primary);
    font-family: var(--main-font);
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 1px;
}
#temperature {
    color: var(--color-primary);
    font-family: var(--main-font);
    font-size: 3.5rem;
    margin: 12px 0;
}
#feel-like {
    color: var(--color-primary);
    font-family: var(--main-font);
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}
#city {
    color: var(--color-primary);
    font-family: var(--main-font);
    font-size: 2rem;
    margin: 20px 20px;
}
.container-detail-weather {
    display: flex;
    justify-content: center;
}
.container-measure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-measure h2 {
    margin: 10px;
    color: var(--color-primary);
    font-family: var(--main-font);
    font-size: 1.2rem;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
#input-change {
    border: var(--color-primary) solid 2px;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    color: rgb(26, 26, 26);
}
#btn-change {
    padding: 20px 70px;
    font-size: 1.2rem;
    font-family: 'Roboto',sans-serif;
    border: none;
    color: var(--color-primary);
    background: rgb(60,186,222);
    background: linear-gradient(90deg, rgba(60,186,222,1) 0%, rgba(20,96,186,1) 50%, rgba(0,34,143,1) 100%);
    cursor: pointer;
    animation-duration: 2s;
}
#btn-change:hover {
    background: linear-gradient(90deg, rgba(60,186,222,1) 0%, rgb(64, 140, 233) 50%, rgb(32, 112, 204) 100%);
    box-shadow: rgba(60, 149, 222, 0.582) 0px 3px 8px;
}

@keyframes test {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes translate_date {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }
    100% {
    transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floten {
    0%,100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
}