/* fonts */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
    background-image: url('../img/wallpday1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#date {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px;
}
#weather-descrip{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 14.6px;
}
#temperature {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
    margin: 0;
}
#feel-like {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0;
}
#city {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin: 20px 20px;
}
.container-detail-weather {
    display: flex;
    justify-content: center;
}
.container-measure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-measure h2 {
    margin: 10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
}
form {
    display: flex;
    flex-direction: column;

}
#input-change {
    border: #fff solid 2px;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
}
#btn-change {
    padding: 20px 70px;
    font-size: 1.2rem;
    font-family: 'Roboto',sans-serif;
    border: none;
    color: #fff;
    background: rgb(60,186,222);
    background: linear-gradient(90deg, rgba(60,186,222,1) 0%, rgba(20,96,186,1) 50%, rgba(0,34,143,1) 100%);
    cursor: pointer;
}
